#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
An_T = pd.Series([-0.08,-0.27,-0.12,-0.03,0.26,0.40,1.02])
An_T

0   -0.08
1   -0.27
2   -0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [7]:

# seu código aqui
An_T.index = [1900,1920,1940,1960,1980,2000,2020]
An_T

1900   -0.08
1920   -0.27
1940   -0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

Temp = pd.Series(dic_temperaturas)
Temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [22]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
ARR = pd.DataFrame(arr)

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [25]:
#seu código aqui
ARR.columns = 'x1','x2','x3'
ARR.index = range(1,21)
ARR

            x1          x2          x3
1   120.954420  102.553315   94.606517
2    89.105250  100.225449   87.986339
3    95.383932   99.483927  107.667331
4    95.375163  108.400415   76.788691
5   120.915358  120.194953  103.765563
6   108.451474  104.591761   93.102201
7   103.809261   93.468790   88.660345
8    97.687666   93.045520   87.436064
9   123.076058  110.476375   90.053348
10  110.266728   88.157283  102.989005
11   92.937739   98.179647   88.630353
12  102.064616   96.411549   79.759919
13   97.049450  104.727408  105.357692
14  101.341407  100.266697   84.374644
15  106.286821  103.300236  104.626243
16   91.627812  113.926968  101.653905
17  105.214531  103.119153   80.210101
18   85.328447   96.667649  107.189807
19   92.393056   97.733251   90.765962
20  101.098632   92.156370  101.235230

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
ARR['media'] = (ARR['x1'] + ARR['x2'] + ARR['x3'])/3
ARR

            x1          x2          x3       media
1   120.954420  102.553315   94.606517  106.038084
2    89.105250  100.225449   87.986339   92.439012
3    95.383932   99.483927  107.667331  100.845063
4    95.375163  108.400415   76.788691   93.521423
5   120.915358  120.194953  103.765563  114.958625
6   108.451474  104.591761   93.102201  102.048479
7   103.809261   93.468790   88.660345   95.312799
8    97.687666   93.045520   87.436064   92.723083
9   123.076058  110.476375   90.053348  107.868593
10  110.266728   88.157283  102.989005  100.471006
11   92.937739   98.179647   88.630353   93.249247
12  102.064616   96.411549   79.759919   92.745361
13   97.049450  104.727408  105.357692  102.378183
14  101.341407  100.266697   84.374644   95.327583
15  106.286821  103.300236  104.626243  104.737766
16   91.627812  113.926968  101.653905  102.402895
17  105.214531  103.119153   80.210101   96.181262
18   85.328447   96.667649  107.189807   96.395301
19   92.393056   97.733251   90.765962   93.630757
20  101.098632   92.156370  101.235230   98.163411

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [29]:
# seu código aqui
ARR['log_med'] = np.log(ARR['media'])
ARR

            x1          x2          x3       media   log_med
1   120.954420  102.553315   94.606517  106.038084  4.663798
2    89.105250  100.225449   87.986339   92.439012  4.526549
3    95.383932   99.483927  107.667331  100.845063  4.613585
4    95.375163  108.400415   76.788691   93.521423  4.538191
5   120.915358  120.194953  103.765563  114.958625  4.744572
6   108.451474  104.591761   93.102201  102.048479  4.625448
7   103.809261   93.468790   88.660345   95.312799  4.557164
8    97.687666   93.045520   87.436064   92.723083  4.529617
9   123.076058  110.476375   90.053348  107.868593  4.680914
10  110.266728   88.157283  102.989005  100.471006  4.609869
11   92.937739   98.179647   88.630353   93.249247  4.535276
12  102.064616   96.411549   79.759919   92.745361  4.529858
13   97.049450  104.727408  105.357692  102.378183  4.628674
14  101.341407  100.266697   84.374644   95.327583  4.557319
15  106.286821  103.300236  104.626243  104.737766  4.651460
16   91.627812  113.926968  101.653905  102.402895  4.628915
17  105.214531  103.119153   80.210101   96.181262  4.566235
18   85.328447   96.667649  107.189807   96.395301  4.568457
19   92.393056   97.733251   90.765962   93.630757  4.539359
20  101.098632   92.156370  101.235230   98.163411  4.586634

In [ ]:
#GitHub: https://github.com/IlsF33/EBAC